<div class="container mt-5">
<div class="form-area">
  <form #f='ngForm' (ngSubmit)="onSubmit(f)">
      <div class="form-group">
      <label for="">First Name</label>
      <input type="text"
      placeholder="fullname"
      class="form-control is-invalid"
      name="fullName"
      ngModel
      #fullName = 'ngModel'
      (change)="getValue(fullName)" required
      [ngClass]="{ 'is-invalid': fullName.touched && fullName.invalid }"
      minlength="5"
      maxlength="20"
      >

      <!--Checking form for displaying errors-->
    <div *ngIf = "fullName.errors?.['required']" >
        <div class="alert alert-danger" *ngIf = 'fullName.touched && fullName.invalid' > Full Name is required.. </div>
    </div>

    <div *ngIf = "fullName.errors?.['minlength']" >
        <div class="alert alert-danger" *ngIf = 'fullName.touched && fullName.invalid' > Full Name must be atleast 5 charectors long.. </div>
    </div>
    <!-- Form check ends here -->
      </div>

      <!-- Checking for valid email using email pattern -->
    <div class="form-group">
      <label for="">Email</label>
      <input
      type="email"
      placeholder="example@gmail.com"
      name="email"
      class="form-control"
      ngModel
      #email='ngModel'
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      required
      [ngClass]="{ 'is-invalid': email.touched && email.invalid }"
      >

      <div *ngIf = "email.errors?.['required']" >
        <div class="alert alert-danger" *ngIf = 'email.touched && email.invalid' > Email is required.. </div>
       </div>

      <div *ngIf = "email.errors?.['pattern']" >
        <div class="alert alert-danger" *ngIf = 'email.touched && email.invalid' > Invalid email.. </div>
      </div>
    </div>
      <!-- Email validation -->

    <div class="form-group">
      <label for="">Address</label>
      <textarea
       placeholder="Address"
       cols="40"
       rows="10"
       name="address"
       class="form-control"
       ngModel
       #address ='ngModel'
       required
       [ngClass]="{ 'is-invalid': address.touched && address.invalid }"
       ></textarea>


      <div *ngIf = "address.errors?.['required']" >
        <div class="alert alert-danger" *ngIf = 'address.touched && address.invalid' > Address is required.. </div>
       </div>


    </div>
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Submit</button>
      </form>
</div>
</div>
