.addbackground
{
  background-color: blue;
  width: 100%;
}
.text-weight
{
  font-weight: bold;
}
.main
{
  font-style: italic;
  color: green  ;
}
.table-area
{
  position: absolute;
  left: 40%;
  text-align: center;
}
