<app-header></app-header>
<div class="d-flex">
<main class="container" style="width: 25%;">
    <ul id="users">
        <li>
            <app-user [avatar]="users[0].avatar" [name]="users[0].name"></app-user>
        </li>
        <li>
            <app-user [avatar]="users[1].avatar" [name]="users[1].name"></app-user>
        </li>
        <li>
            <app-user [avatar]="users[2].avatar" [name]="users[2].name"></app-user>
        </li>
        <li>
            <app-user [avatar]="users[3].avatar" [name]="users[3].name"></app-user>
        </li>
        <li>
            <app-user [avatar]="users[4].avatar" [name]="users[4].name"></app-user>
        </li>
        <li>
            <app-user [avatar]="users[5].avatar" [name]="users[5].name"></app-user>
        </li>
    </ul>
</main>
<main class="container" style="margin-top: 1%;">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt molestias omnis aspernatur hic ea labore fugiat. Eaque nulla magnam repudiandae deserunt consequatur, consequuntur, quas magni natus pariatur adipisci autem quae quia ab alias mollitia obcaecati distinctio, iusto explicabo illum amet odio laudantium! Fugit facere laudantium ipsam deserunt possimus, quos labore laboriosam aspernatur nemo itaque dolorem laborum doloremque! Voluptatibus aspernatur repellat dolor dolores sunt iure quod sequi debitis nulla molestiae atque, eveniet similique veniam officia corporis minima tenetur ratione! Natus commodi qui in sed dolore delectus doloribus maxime officia. Pariatur maxime quas molestiae asperiores, earum error necessitatibus modi odit sed adipisci?</p>
</main>
</div>
