<div class="card shadow">
  <img src="https://images.pexels.com/photos/10259191/pexels-photo-10259191.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="post-image" class="card-img-top">
  <div class="card-body">
    <small class="bg-light text-danger text-center">Design</small>
    <small class="bg-light text-success text-center ml-3">Featured</small>
    <small class="bg-light text-info text-center ml-3">Views -1000,23</small>
    <h5 class="nt-1"> Blog sample</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eum dignissimos nulla voluptatibus. In vero officiis ipsum totam. Aliquid libero id qui dolorem minus perferendis iusto corrupti fuga velit quasi.</p>
    <small class="bg-light text-warning text-center ml-3">Last updated</small>
  </div>
</div>

