<section class="featured-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center mt-5">
          <h2 class="text-white">Featured Posts</h2>
          <p class="text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel, laudantium delectus ut a unde explicabo! Consectetur illum ad eos! Commodi a inventore porro corporis error eum autem nesciunt? Ducimus, nulla.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3" *ngFor = "let featuredPost of FeaturedPostsArray">
        <app-post-card [postData] = "featuredPost" ></app-post-card>
        {{featuredPost}}
      </div>
    </div>
  </div>
</section>

<section class="container mt-5">
  <div class="col-md-12 text-center">
    <h2> Latest Post</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet, veritatis! Est mollitia aut autem dignissimos dolor ullam architecto eveniet eos consequatur ut at doloribus magni molestiae dolorum dicta, nobis voluptate?</p>
  </div>
  <div class="row">
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
  </div>
</section>
