<div class="cotainer">
  <div class="row">
    <div class="col-md-12">
        <div class="card shadow ">
          <div class="card-body text-center">
            <h3 class="text-theme-center">All blog Posts</h3>
            <p>From here manage the blog posts</p>
          <button class="btn btn-info bg-theme" routerLink="/post/new"> Add new post</button>
          <button class="btn btn-warning ml-2" routerLink="/"> Dashboard </button>
          </div>
        </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-12">
      <div class="card shadow">
        <div class="card-body">
          <table class="table row-border hover">
            <thead>
                <tr>
                  <th> No</th>
                  <th> Post Image </th>
                  <th> Title </th>
                  <!-- <th> Excrept </th> -->
                  <th> Category </th>
                  <th> Date </th>
                  <th> Actions </th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let post of postArray; let index = index">
                <td [width]="10">{{index + 1}}</td>
                <td [width]="120"><img src="{{post.data.postImgPath}}" class="img img-fluid" alt=""></td>
                <td [width]="130">{{post.data.title}}</td>
                <!-- <td [width]="250">{{post.data.excerpt}}</td> -->
                <td [width]="150">{{post.data.category.category}}</td>
                <td [width]="100">{{post.data.createdAt.toMillis() | date}}</td>
                <td> <button class="btn btn-sm btn-warning"
                  routerLink="/post/new"
                  [queryParams]="{id: post.id}"
                  >
                  <i class="fas fa-pencil-alt fa-md"></i>
                 Edit
               </button>
              </td>
              <td>
                <button class="btn btn-sm btn-danger" (click)="onDelete(post.data.postImgPath, post.id)"
                >
                 <i class="fa fa-trash" aria-hidden="true"></i>
                Delete</button>
              <button *ngIf="!post.data.isFeatured" class="btn btn-sm btn-success ml-3" (click)="onFeatured(post.id, true)">
                Make Featured</button>
              <button *ngIf="post.data.isFeatured" class="btn btn-sm btn-warning ml-3" (click)="onFeatured(post.id, false)">
                Remove Featured</button>
               </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
