<form>
    <app-control label="Ticket title">
        <!-- <label for="ticket title">Ticket title</label> -->
        <input name="title" id="title" type="text">
    </app-control>
    <app-control label="Request">
        <!-- <label for="ticket request">Request</label> -->
        <textarea name="request" id="request" type="text" rows="3"></textarea>
    </app-control>
    <p>
      <button appButton>
            Submit
        <div class="icon">
            ->
        </div>
      </button>   
    </p>
</form>