.btn-outline-white {
    color: grey !important;
    border-color: #fff !important;
  }
.btn-outline-white:hover {
    background-color: #fff !important;
    color: #000 !important;
    border-color: #fff !important;
  }