/* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@200&family=Montserrat:wght@200&family=Poppins:wght@500&family=Roboto&family=Ubuntu:wght@400;500&display=swap');
@import "~ngx-toastr/toastr";
:root
{
  --primary: #026467!important;
  --Secondary-color: #E5F5EA!important;
  --body-text-color: #596392!important;
  --navbar-footer-color: #F9F9F9!important;
}

.site-logo
{
  padding: 5px 20px;
  border-radius: 12px;
  background-color: var(--Secondary-color);
  color: var(--primary);
}
.nav-link
{
  color: var(--primary)
}
p
{
  color: var(--primary)
}
body{
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: var(--body-text-color);
  font-weight: bolder;
}
.shadow
{
  border: none;
  box-shadow: 0px 0px 33px -10px rgba(71, 114, 254, 0.3);
}
.bg-theme
{
  background-color: var(--primary);
}

input[type = text], input[type = email]
{
  height: 48px;
  padding-left: 20px;
  font-size: 13px;
  width: 100%;
}

.btn-theme
{
  height: 48px;
  border: none;
  font-size: 13px;
  background-color: var(--primary);
}

.bg-secondary-theme
{
  background-color: var(--Secondary-color);
}

.text-theme-primary
{
  color: var(--pimary);
}
